.sidebar {
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
        to bottom,
        rgba(255, 153, 51, 0.3),
        rgba(255, 255, 255, 0.07),
        rgba(19, 136, 8, 0.3)
    );
    backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255,255,255,0.08);
    color: #e0e0e0;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 9px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 15px;
    font-weight: 450;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 9px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
}